# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
backend/env/
backend/db.sqlite3

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db

# Documentation locale
documentation_detaillee.md
